.form {
      display : flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap : 20px;
      height: 105vh;
}

input {
      background-color: rgb(231, 134, 134);
      color: aqua;
      border-radius: 8px;
      border: 1px solid #ccc;
      padding: 10px 15px;
      outline : none;
      width: 250px;
      height: 40px;
}

button {
      border-radius: 8px;
      width : 100px;
      color : #07fc71;
      background-color: rgb(224, 147, 13);
}

.buttons {
      display : flex;
      flex-direction: row;
      width : 250px;
      justify-content: space-evenly;
}